<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/stationButton.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
        <style>
            #map_wrap * {
                margin: 0;
                padding: 0;
                font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
                font-size: 12px;
            }
            
            #map_wrap a,
            #map_wrap a:hover,
            #map_wrap a:active {
                color: #000;
                text-decoration: none;
            }
            
            #map_wrap {
                position: relative;
                border-color: black;
                
            }
        </style>
    </head>

    <body  x-data="{ open: true }" class="bg-gray-100 text-gray-900 antialiased font-sans bg-gray-500" 
    x-init="$watch('open', value => value ? document.getElementById('map-wrap').style.width = 'calc(100% - 31rem)':  document.getElementById('map-wrap').style.width = 'calc(100% - 4rem)')">
        <div id="map-wrap" class="relative inset-0 bg-gray-500 w-3/5" style="width : calc(100% - 31rem); transition-duration:0.7s" aria-hidden="true">
            <div id="map" class="object-fill h-screen" ></div>
        </div>

        <div  class="fixed inset-0 overflow-hidden flex flex-row">
            <div class="absolute inset-0 overflow-hidden flex">
            <section class="absolute inset-y-0 right-0 pl-10 min-w-1/2 max-w-full flex" aria-labelledby="slide-over-heading" >
                <div class="absolute top-0 left-10 -ml-8 pt-4 flex sm:-ml-10 sm:pr-4" style="z-index:1;">
                    <button class="rounded-md text-gray-300 border border-red-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-white" 
                    @click="open = ! open">
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    </button>
                </div>

                <div class="relative w-screen max-w-md" x-show="open" 
                x-transition:enter="transform transition ease-in-out duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
                x-transition:leave="transform transition ease-in-out duration-500" x-transition:leave-start ="translate-x-0" x-transition:leave-end="translate-x-full">
                <div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll" >
                    <div class="px-4 sm:px-6">
                    <h2 id="slide-over-heading" class="text-lg font-medium text-gray-900">
                        Panel title
                    </h2>
                        <div id="sidebar" class="bg-red-400 transform transition transition-duration- translate-x-0 w-max h-screen">
                                asdfasdfdsfgdsfgdsfgdsfgdfsg
                        </div>
                    </div>
                    <div class="mt-6 relative flex-1 px-4 sm:px-6">
                    <!-- Replace with your content -->

                    <div class="absolute inset-0 px-4 sm:px-6">
                        <div class="h-full border-2 border-dashed border-gray-200" aria-hidden="true"></div>
                    </div>
                    <!-- /End replace -->
                    </div>
                </div>
                </div>
               
              
            </section>
            
            </div>
        </div>
  

    </body>
    <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{kakao_api_key}}&libraries=services,clusterer,drawing"></script>
    <!-- <script type="text/javascript" src="{% static 'js/kakao_api1.js' %}"></script> -->
    <script type="text/javascript">
        function toggle(open) {
            if (open){
                open=false;
            } else{
                open=true;
            }
        };
    
    </script>
    <script type="text/javascript">
        var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
            center: new kakao.maps.LatLng(37.566680, 126.9784147), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        });

        var positions = [];
        var lat_temp_max = 0;
        var lat_temp_min = 999;
        var lng_temp_max = 0;
        var lng_temp_min = 999;

        var center_lat = (lat_temp_max + lat_temp_min) / 2
        var center_lng = (lng_temp_max + lng_temp_min) / 2
        var centerPosition = new kakao.maps.LatLng(center_lat, center_lng)

        {% for station in stations %}

        var marker = [{
            content: '<button onclick="clickStationMarker(this.id);" class="redSt" id={{ station.dataId }}>{{ 1 }}</button>',
            latlng: new kakao.maps.LatLng({{station.stationLatitude}}, {{station.stationLongitude}}),
            title: '<div style="font-size:1.2em;font-weight: bold;color: #5E5B55;font-family:Roboto;">{{ station.dataId }}</div>'
        }, ];
        positions = positions.concat(marker)

        {% endfor %}

        console.log(positions)

        for (var i = 0; i < positions.length; i++) {
            var customOverlay1 = new kakao.maps.CustomOverlay({
                content: positions[i].content,
                position: positions[i].latlng,
                map: map
            });

            var customOverlay2 = new kakao.maps.CustomOverlay({
                content: positions[i].title,
                position: positions[i].latlng,
                yAnchor: 1,
                xAnchor: 0.2,
                map: map
            });
        }
    </script>

</html>