<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script lang="javaScript">
str1 = "0"
str2 = "8"
now =  parseInt(str1)
max =  parseInt(str2)
if (now != 0) {
       for (var i = 1;i <= now ; i++ )
            {
                document.write("<img id='bike1' src='https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png'>");
            }
    for (var i = now+1;i <= max ; i++ )
            {
                document.write("<img id='bike2' src='https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png'>");
            }
} else {
   for (var i = now+1;i <= max ; i++ )
            {
                document.write("<img id='bike2' src='https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png'>");
            }
}

</script>
</head>
<body>











</body>
</html>