[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1"
pandas = "*"
requests = "*"
lightgbm = "*"
joblib = "*"
sklearn = "*"
numpy = "==1.19.3"
scikit-learn = "==0.22.2"

[requires]
python_version = "3.7"
