<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/stationButton.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Bike Map</title>
        
    </head>

    <body  x-data="{ open: true }" class="bg-white text-gray-900 antialiased font-sans" 
    x-init="$watch('open', value => value ? document.getElementById('map-wrap').style.width = 'calc(100% - 31rem)':  document.getElementById('map-wrap').style.width = 'calc(100% - 3rem)')">
        <div id="map-wrap" class="relative inset-0 bg-white border-r border-gray-300" style="width : calc(100% - 31rem); transition-duration:0.6s" aria-hidden="true">
            <div id="map" class="object-fill h-screen" ></div>
        </div>

        <div  class="fixed inset-0 overflow-hidden flex flex-row">
            <div class="absolute inset-0 overflow-hidden flex">
            <section class="absolute inset-y-0 right-0 pl-10 min-w-1/2 max-w-full flex" aria-labelledby="slide-over-heading" >
                <div class="absolute top-0 left-10 -ml-8 pt-4 flex sm:-ml-10 sm:pr-4" style="z-index:1;">
                    <button class="rounded-md text-gray-300 border border-green-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white" 
                    @click="open = ! open">
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    </button>
                </div>

                <div class="relative w-screen max-w-md" x-show="open" 
                x-transition:enter="transform transition ease-in-out duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
                x-transition:leave="transform transition ease-in-out duration-500" x-transition:leave-start ="translate-x-0" x-transition:leave-end="translate-x-full">
                <div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll" >
                    <div class="flex mt-2 mx-10 justify-center h-1/4" ><img class="h-2/3 " src="{% static 'img/logo1.png' %}"></div>
                    
                        <div id='stInfo' class="relative flex-1 px-4 sm:px-6" style="transition-duration-0.5s">
                            <!-- Replace with your content -->
                            <span>asdfasfasdf</span>

                            <div class="absolute inset-0 px-4 sm:px-6">
                                <div class="h-full border-2 border-dashed border-gray-200" aria-hidden="true"></div>
                            </div>
                    
                    </div>
                    <div class="mx-10 -mb-10" ><img src="{% static 'img/bottom.png' %}"></div>
                </div>
                </div>
              
            </section>
            
            </div>
        </div>
  

    </body>
    <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{kakao_api_key}}&libraries=services,clusterer,drawing"></script>
    <!-- <script type="text/javascript" src="{% static 'js/kakao_api1.js' %}"></script> -->
    <script type="text/javascript">
        function stationInfo(id) {
            $.ajax({
            url: "{% url 'station:stInfo' %}",
            type:'post',
            data: {
                'pk': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
            success: function (response) {
                //status code에 따른 에러처리
                var station = JSON.parse(response["station"]);
                var Fields = station[0]["fields"];
                
                var latitude = Fields["stationLatitude"];
                var longitude = Fields["stationLongitude"];

                var parkTot = JSON.parse(response["parkTot"]);
                var parkingBikeTotCnt = parkTot[0];
                var updated_at = parkTot[1];

                $ ('#stInfo').empty();
                $('#stInfo').append(
                `
                    <div class="flex flex-col"> 
                        <span>거치소 이름 :${Fields["stationName"]}</span>
                        <div id="roadview" class="my-5" style='width:80%;height:250px;'></div>
                        <span>전체 거치대수 :${Fields["rackTotCnt"]}</span>
                        <span>현재 대수 : ${parkingBikeTotCnt}</span>
                        <span>기준 시간 : ${updated_at}</span>
                    </div>
                `
                )
                //take Road view image from Kakao API
                var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 id가 roadview인 div태그에 로드뷰 이미지 생성
                var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
                var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체
                var stPosition = new kakao.maps.LatLng(parseFloat(latitude), parseFloat(longitude));

                roadviewClient.getNearestPanoId(stPosition, 50, function(panoId) {
                    roadview.setPanoId(panoId,stPosition); //panoId와 중심좌표를 통해 로드뷰 실행
                });
            },
        error: function (response) {
            // 응답이 없을 때 에러 처리
        }
        })

        };
        

    </script>
   
    <script type="text/javascript">
        var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
            center: new kakao.maps.LatLng(37.566680, 126.9784147), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        });

        var positions = [];
        var lat_temp_max = 0;
        var lat_temp_min = 999;
        var lng_temp_max = 0;
        var lng_temp_min = 999;

        var center_lat = (lat_temp_max + lat_temp_min) / 2
        var center_lng = (lng_temp_max + lng_temp_min) / 2
        var centerPosition = new kakao.maps.LatLng(center_lat, center_lng)

        {% for station in stations %}

        var marker = [{
            content: '<button onclick="stationInfo(this.id);" class="redSt" id={{ station.dataId }}>{{ 1 }}</button>',
            latlng: new kakao.maps.LatLng({{station.stationLatitude}}, {{station.stationLongitude}}),
            title: '<div style="font-size:1.2em;font-weight: bold;color: #5E5B55;font-family:Roboto;">{{ station.dataId }}</div>'
        }, ];
        positions = positions.concat(marker)

        {% endfor %}

        console.log(positions)

        for (var i = 0; i < positions.length; i++) {
            var customOverlay1 = new kakao.maps.CustomOverlay({
                content: positions[i].content,
                position: positions[i].latlng,
                map: map
            });

            var customOverlay2 = new kakao.maps.CustomOverlay({
                content: positions[i].title,
                position: positions[i].latlng,
                yAnchor: 1,
                xAnchor: 0.2,
                map: map
            });
        }
    </script>

</html>