<!DOCTYPE html>

  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>따릉이 타고 삼천리</title>
    <link rel="stylesheet" href="{% static '/assets/css/ol.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <style type="text/css">
      body { overflow: hidden; }

      .navbar-offset { margin-top: 50px; }
<!--      #map { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; }-->
      #map .ol-zoom { font-size: 1.2em; }

      .zoom-top-opened-sidebar { margin-top: 5px; }
      .zoom-top-collapsed { margin-top: 45px; }

      .mini-submenu{
        display:none;
        background-color: rgba(255, 255, 255, 0.46);
        border: 1px solid rgba(0, 0, 0, 0.9);
        border-radius: 4px;
        padding: 9px;
        /*position: relative;*/
        width: 42px;
        text-align: center;
      }

      .mini-submenu-left {
        position: absolute;
        top: 60px;
        left: .5em;
        z-index: 40;
      }
      .mini-submenu-right {
        position: absolute;
        top: 60px;
        right: .5em;
        z-index: 40;
      }

      #map { z-index: 35;}


      .sidebar { z-index: 45; }

      .main-row { position: relative; top: 0; }

      .mini-submenu:hover{
        cursor: pointer;
      }

      .slide-submenu{
        background: rgba(0, 0, 0, 0.45);
        display: inline-block;
        padding: 0 8px;
        border-radius: 4px;
        cursor: pointer;
      }

    </style>
    <script type="text/javascript" src="{% static '/assets/js/ol.js' %}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{kakao_service_key}}"></script>

    <script type="text/javascript">

      function applyMargins() {
        var leftToggler = $(".mini-submenu-left");
        var rightToggler = $(".mini-submenu-right");
        if (leftToggler.is(":visible")) {
          $("#map .ol-zoom")
            .css("margin-left", 0)
            .removeClass("zoom-top-opened-sidebar")
            .addClass("zoom-top-collapsed");
        } else {
          $("#map .ol-zoom")
            .css("margin-left", $(".sidebar-left").width())
            .removeClass("zoom-top-opened-sidebar")
            .removeClass("zoom-top-collapsed");
        }
        if (rightToggler.is(":visible")) {
          $("#map .ol-rotate")
            .css("margin-right", 0)
            .removeClass("zoom-top-opened-sidebar")
            .addClass("zoom-top-collapsed");
        } else {
          $("#map .ol-rotate")
            .css("margin-right", $(".sidebar-right").width())
            .removeClass("zoom-top-opened-sidebar")
            .removeClass("zoom-top-collapsed");
        }
      }

      function isConstrained() {
        return $("div.mid").width() == $(window).width();
      }

      function applyInitialUIState() {
        if (isConstrained()) {
          $(".sidebar-left .sidebar-body").fadeOut('slide');
          $(".sidebar-right .sidebar-body").fadeOut('slide');
          $('.mini-submenu-left').fadeIn();
          $('.mini-submenu-right').fadeIn();
        }
      }

      $(function(){
        $('.sidebar-left .slide-submenu').on('click',function() {
          var thisEl = $(this);
          thisEl.closest('.sidebar-body').fadeOut('slide',function(){
            $('.mini-submenu-left').fadeIn();
            applyMargins();
          });
        });

        $('.mini-submenu-left').on('click',function() {
          var thisEl = $(this);
          $('.sidebar-left .sidebar-body').toggle('slide');
          thisEl.hide();
          applyMargins();
        });

        $('.sidebar-right .slide-submenu').on('click',function() {
          var thisEl = $(this);
          thisEl.closest('.sidebar-body').fadeOut('slide',function(){
            $('.mini-submenu-right').fadeIn();
            applyMargins();
          });
        });

        $('.mini-submenu-right').on('click',function() {
          var thisEl = $(this);
          $('.sidebar-right .sidebar-body').toggle('slide');
          thisEl.hide();
          applyMargins();
        });

        $(window).on("resize", applyMargins);

<!--         var map = new ol.Map({-->
<!--           target: "map",-->
<!--           layers: [-->
<!--             new ol.layer.Tile({-->
<!--               source: new ol.source.OSM()-->
<!--             })-->
<!--           ],-->
<!--           view: new ol.View({-->
<!--             center: [0, 0],-->
<!--             zoom: 2-->
<!--           })-->
<!--         });-->
        applyInitialUIState();
        applyMargins();


    var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
    center : new kakao.maps.LatLng(37.566680, 126.9784147), // 지도의 중심좌표
    level : 4 // 지도의 확대 레벨
});

var positions =[];
var lat_temp_max = 0;
var lat_temp_min = 999;
var lng_temp_max = 0;
var lng_temp_min = 999;
{% for value in api_dict %}
var num = {{ value.parkingBikeTotCnt }};
if (num == 0){
var positionsRed = [
    {
        content:'<button onclick="clickStationMarker(this.id);" style="width: 30px;height: 30px;background: #c70039;border-radius: 50%;text-align: center;line-height: 30px;display: inline-block;margin-right: 10px;color: #ffffff;text-shadow:1px 1px 0 #232323box-shadow: 0px 0px 20px #000;" id={{ value.stationCode }}>{{ value.parkingBikeTotCnt }}</button>',
        latlng: new kakao.maps.LatLng({{ value.stationLatitude }}, {{ value.stationLongitude }}),
        title: '<div style="font-size:1.1em;font-weight: bold;color:#232323;text-shadow:1px 1px 0 #ffffff;">{{ value.stationName }}</div>'
    },
];
positions = positions.concat(positionsRed)
}else if (num <= 2){
var positionsYellow = [
    {
        content:'<button onclick="clickStationMarker(this.id);" style="width: 30px;height: 30px;background: linear-gradient(to right, #ffd812, #fff3b7);border-radius: 50%;text-align: center;line-height: 30px;display: inline-block;margin-right: 10px;color: #232323;text-shadow:1px 1px 0 #ffffff;box-shadow: 0px 0px 20px #000;" id={{ value.stationCode }}>{{ value.parkingBikeTotCnt }}</button>',
        latlng: new kakao.maps.LatLng({{ value.stationLatitude }}, {{ value.stationLongitude }}),
        title: '<div style="font-size:1.1em;font-weight: bold;color:#232323;text-shadow:1px 1px 0 #ffffff;">{{ value.stationName }}</div>'
    },
];
positions = positions.concat(positionsYellow)
}else{
var positionsBlue = [
    {
        content:'<button onclick="clickStationMarker(this.id);" style="width: 30px;height: 30px;background: linear-gradient(to right, #05d85c, #a7fdcb);border-radius: 50%;text-align: center;line-height: 30px;display: inline-block;margin-right: 10px;color: #ffffff;text-shadow:1px 1px 0 #232323,box-shadow: 0px 0px 20px #000;" id={{ value.stationCode }}>{{ value.parkingBikeTotCnt }}</button>',
        latlng: new kakao.maps.LatLng({{ value.stationLatitude }}, {{ value.stationLongitude }}),
        title: '<div style="font-size:1.1em;font-weight: bold;color:#232323;text-shadow:1px 1px 0 #ffffff;">{{ value.stationName }}</div>'
    },
];
positions = positions.concat(positionsBlue)
}

// 지도 중앙좌표 만들기
var lat_value = {{ value.stationLatitude }};
if (lat_value > lat_temp_max) {
  lat_temp_max = lat_value
}else if (lat_value < lat_temp_min) {
  lat_temp_min = lat_value
}

var lng_value = {{ value.stationLongitude }};
if (lng_value > lng_temp_max) {
  lng_temp_max = lng_value
}else if (lng_value < lng_temp_min) {
  lng_temp_min = lng_value
}
{% endfor %}

// 권역 내 중심 좌표 - 지도 중심 좌표를 이걸로 사용하는 방향으로 코드 수정하기
var center_lat = (lat_temp_max + lat_temp_min) / 2
var center_lng = (lng_temp_max + lng_temp_min) / 2
var centerPosition = new kakao.maps.LatLng(center_lat, center_lng)

// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
if (navigator.geolocation) {

    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {

        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도

        var locPosition = new kakao.maps.LatLng(lat, lon)

        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition);
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        var result = geocoder.coord2RegionCode(lon, lat,  displayCenterInfo);

        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr1');

                for(var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }
        }

      });

} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667)

    displayMarker(locPosition);
}

for (var i = 0; i < positions.length; i ++) {
        var customOverlay1 = new kakao.maps.CustomOverlay({
                    content: positions[i].content,
                    position: positions[i].latlng,
                    map: map
        });
        var customOverlay2 = new kakao.maps.CustomOverlay({
            content: positions[i].title,
            position: positions[i].latlng,
            yAnchor: 1.8,
            map: map

        });
}
// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition) {

    // 마커를 생성합니다
<!--    var marker = new kakao.maps.Marker({-->
<!--        map: map,-->
<!--        position: position-->
<!--    });-->

    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(position);
}

      });


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<script>
$('#search_button').click(function(){
    var search_key = $('#search_input').val()
    $.ajax({
        url:'search/',
        data : { 'search_key':search_key},
        success:function(data){
            $('#data_table').html(data)
        }
    })
})
</script>

  <body>
    <div class="container">
      <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
<!--      <nav class="navbar header-navbar pcoded-header" role="navigation">-->

        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation??</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/bikeMap">따릉이 타고 삼천리</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling 상단 링크 부분-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul> -->
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input id="search_input" type="text" class="form-control" placeholder="대여소 검색">
              </div>
              <button id="search_button" type="submit" class="btn btn-default">검색</button>
            </form>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
<!--      </nav>-->
      <div class="navbar-offset">
<!--        <div id="map" style="width:100%;height:100%;overflow:hidden;">></div>-->
          <div id="map">></div>
      </div>

      <div class="row main-row">
        <div class="col-sm-4 col-md-3 sidebar sidebar-left pull-left">
          <div class="panel-group sidebar-body" id="accordion-left">
            <div class="panel panel-default">
<!--               <div class="panel-heading">-->
<!--                <h4 class="panel-title">Home</h4>-->
<!--                     <i class="fa fa-list-alt">-->
                    <ul class="nav nav-tabs tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#home1" role="tab" onclick="clickHome()">기본</a>
                      </li>
<!--                      <li class="nav-item">-->
<!--                          <a class="nav-link" data-toggle="tab" href="#road1" role="tab">대여소 상세</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                          <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">메세지</a>-->
<!--                      </li>-->
                    </ul>
<!--               </div>-->
              <div id="layers" class="panel-collapse collapse in">
                <div class="panel-body list-group">
<!--                    <div>-->
<!--                        <p id="homeinfobox" class="m-0">내용</p>-->
<!--                        <span class="pull-right slide-submenu">-->
<!--                            <i class="fa fa-chevron-left"></i>-->
<!--                        </span>-->
<!--                    </div>-->
                  <div class="tab-content tabs card-block">
                    <div class="tab-pane active" id="home1" role="tabpanel">

                        <div id="info1">
                                <div class="hAddr1">
                                    <span class="title">현재위치 : </span>
                                    <span id="centerAddr1"></span>
                                </div>
                            <p class="m-0"><h4>보유량 과다 대여소</h4>
                            {% for value in st_plus %}
                            <p class="m-0">{{value.stationName}}</p>
                            {% endfor %}
                            <p class="m-0"><h4>보유량 부족 대여소</h4>
                            {% for value in st_minus %}
                            <p class="m-0">{{value.stationName}}</p>
                            {% endfor %}
                        </div>

                        <div id="info2">    <!--목적 모름-->

<script>

// button click event
var infoDiv = document.getElementById('centerAddr');

function clickStationMarker(clicked_id) {
    {% for value in api_dict %}
        var id = '{{ value.stationCode }}';
        if (id == clicked_id){
                var stationCode='{{ value.stationCode }}';
                var rackTotCnt='{{ value.rackTotCnt }}';
                var stationName='{{ value.stationName }}';
                var parkingBikeTotCnt='{{ value.parkingBikeTotCnt }}';
                var shared='{{ value.shared }}';
                var stationLatitude={{ value.stationLatitude }};
                var Latitude= parseFloat(stationLatitude);
                var stationLongitude={{ value.stationLongitude }};
                var Longitude= parseFloat(stationLongitude);
    }
        {% endfor %}



        document.getElementById('info2').innerHTML = "<div id='roadview3' style='width:100%;height:300px;'></div><p>거치소명 : "+stationName+"<p style='width:500px'>거치소 ID : "+stationCode+"<p>거치 수 : "+rackTotCnt+"<p>자전거주차총건수 : "+parkingBikeTotCnt;
        document.getElementById("info2").style.display ='block';
        document.getElementById("info1").style.display ='none';
        var roadviewContainer = document.getElementById('roadview3'); //로드뷰를 표시할 div
        var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
        var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

        var stPosition = new kakao.maps.LatLng(parseFloat(stationLatitude), parseFloat(stationLongitude));
<!--        var stPosition = new kakao.maps.LatLng(33.450701, 126.570667);-->


        // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
        roadviewClient.getNearestPanoId(stPosition, 50, function(panoId) {
            roadview.setPanoId(panoId,stPosition); //panoId와 중심좌표를 통해 로드뷰 실행
        });
            }

function clickHome() {
    document.getElementById("info1").style.display ='block';
    document.getElementById("info2").style.display ='none';
}
</script>
                        </div>

                        <span class="pull-right slide-submenu">
                          <i class="fa fa-chevron-left"></i>
                        </span>
                    </div>
<!--                    <div class="tab-pane" id="road1" role="tabpanel">-->
<!--                        <p class="m-0">2.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>-->
<!--                        <span class="pull-right slide-submenu">-->
<!--                          <i class="fa fa-chevron-left"></i>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <div class="tab-pane" id="messages1" role="tabpanel">-->
<!--                        <p class="m-0">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>-->
<!--                        <span class="pull-right slide-submenu">-->
<!--                          <i class="fa fa-chevron-left"></i>-->
<!--                        </span>-->
                    </div>
              </div>
            </div>
          </div>
         </div>

        </div>
        <div class="col-sm-4 col-md-6 mid"></div>
        </div>

      <div class="mini-submenu mini-submenu-left pull-left">
        <i class="fa fa-list-alt"></i>
      </div>
<!--      <div class="mini-submenu mini-submenu-right pull-right">-->
<!--        <i class="fa fa-tasks"></i>-->
<!--      </div>-->

  </body>
</html>